spring:
  datasource:
    url: jdbc:postgresql://localhost:6673/ordersdb
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
	
	# ===== Logging Configuration =====
	logging:
	  level:
	    root: INFO
	    com.ewallet.orderservice: DEBUG
	  pattern:
	    console: "%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"
	  file:
	    name: logs/order-service.log
	    max-size: 10MB
	    max-history: 30
	    pattern: "%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"
